@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100vh;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 
R (0)
G (110)
B (255 */

/* @layer base {
  :root {
    --background: 216 100% 98.04%;
    --foreground: 213.6 100% 4.9%;

    --primary: 214.12 100% 50%;
    --primary-foreground: 0 0% 100%;

    --card: 216 100% 98.04%;
    --card-foreground: 213.6 100% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 213.6 100% 4.9%;

    --secondary: 214.74 100% 92.55%;
    --secondary-foreground: 216 100% 0.98%;

    --muted: 213.6 100% 95.1%;
    --muted-foreground: 0 0% 40%;

    --accent: 213.6 100% 95.1%;
    --accent-foreground: 214.12 100% 50%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 0 0% 90.2%;
    --input: 0 0% 90.2%;
    --ring: 214.12 100% 50%;

    --radius: 0.5rem;
  }

  .dark {
    --gradient: linear-gradient(to top left, #007adf, #00ecbc);

    --background: 220 65% 3.52%;
    --foreground: 220 10% 97.2%;

    --muted: 220 50% 13.2%;
    --muted-foreground: 220 10% 54.4%;

    --popover: 220 45% 5.72%;
    --popover-foreground: 220 10% 97.2%;

    --card: 220 45% 5.72%;
    --card-foreground: 220 10% 97.2%;

    --border: 220 50% 13.2%;
    --input: 220 50% 13.2%;

    --primary: 220 100% 44%;
    --primary-foreground: 220 10% 97.2%;

    --secondary: 220 50% 13.2%;
    --secondary-foreground: 220 10% 97.2%;

    --accent: 220 50% 13.2%;
    --accent-foreground: 220 10% 97.2%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 220 10% 97.2%;

    --ring: 220 100% 44%;
  }
} */

/* organge theme */
@layer base {
  :root {
    --background: 23 38% 99%;
    --foreground: 23 68% 1%;
    --muted: 23 6% 91%;
    --muted-foreground: 23 2% 31%;
    --popover: 23 38% 99%;
    --popover-foreground: 23 68% 1%;
    --card: 23 38% 99%;
    --card-foreground: 23 68% 1%;
    --border: 23 2% 94%;
    --input: 23 2% 94%;
    --primary: 23 97% 46%;
    --primary-foreground: 0 0% 100%;
    --secondary: 23 8% 91%;
    --secondary-foreground: 23 8% 31%;
    --accent: 23 17% 86%;
    --accent-foreground: 23 17% 26%;
    --destructive: 18 94% 27%;
    --destructive-foreground: 18 94% 87%;
    --ring: 23 97% 46%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 23 34% 1%;
    --foreground: 23 16% 99%;
    --muted: 23 6% 9%;
    --muted-foreground: 23 2% 69%;
    --popover: 23 34% 1%;
    --popover-foreground: 23 16% 99%;
    --card: 23 34% 1%;
    --card-foreground: 23 16% 99%;
    --border: 23 2% 13%;
    --input: 23 2% 13%;
    --primary: 23 97% 46%;
    --primary-foreground: 0 0% 100%;
    --secondary: 23 2% 20%;
    --secondary-foreground: 23 2% 80%;
    --accent: 23 9% 29%;
    --accent-foreground: 23 9% 89%;
    --destructive: 18 94% 57%;
    --destructive-foreground: 0 0% 0%;
    --ring: 23 97% 46%;
  }
}

/* blue theme */
/* @layer base {
  :root {
    --background: 229 57% 100%;
    --foreground: 229 63% 4%;
    --muted: 229 12% 86%;
    --muted-foreground: 229 10% 37%;
    --popover: 0 0% 99%;
    --popover-foreground: 229 63% 3%;
    --card: 0 0% 99%;
    --card-foreground: 229 63% 3%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --primary: 229 100% 62%;
    --primary-foreground: 0 0% 100%;
    --secondary: 229 20% 90%;
    --secondary-foreground: 229 20% 30%;
    --accent: 229 28% 85%;
    --accent-foreground: 229 28% 25%;
    --destructive: 3 100% 50%;
    --destructive-foreground: 3 0% 100%;
    --ring: 229 100% 62%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 229 41% 4%;
    --foreground: 229 23% 99%;
    --muted: 229 12% 14%;
    --muted-foreground: 229 10% 63%;
    --popover: 229 41% 5%;
    --popover-foreground: 0 0% 100%;
    --card: 229 41% 5%;
    --card-foreground: 0 0% 100%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --primary: 229 100% 62%;
    --primary-foreground: 0 0% 100%;
    --secondary: 229 14% 8%;
    --secondary-foreground: 229 14% 68%;
    --accent: 229 23% 17%;
    --accent-foreground: 229 23% 77%;
    --destructive: 3 89% 54%;
    --destructive-foreground: 0 0% 100%;
    --ring: 229 100% 62%;
  }
} */

/* Light Blue Theme */
/* @layer base {
  :root {
    --background: 198 59% 100%;
    --foreground: 198 51% 0%;
    --muted: 198 28% 90%;
    --muted-foreground: 198 5% 39%;
    --popover: 198 59% 100%;
    --popover-foreground: 198 51% 0%;
    --card: 198 59% 100%;
    --card-foreground: 198 51% 0%;
    --border: 198 14% 92%;
    --input: 198 14% 92%;
    --primary: 198 100% 50%;
    --primary-foreground: 198 100% 10%;
    --secondary: 198 90% 95%;
    --secondary-foreground: 198 10% 5%;
    --accent: 198 90% 95%;
    --accent-foreground: 198 10% 5%;
    --destructive: 5 100% 50%;
    --destructive-foreground: 5 0% 100%;
    --ring: 198 100% 50%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 198 44% 1%;
    --foreground: 198 31% 97%;
    --muted: 198 28% 10%;
    --muted-foreground: 198 5% 61%;
    --popover: 198 44% 1%;
    --popover-foreground: 198 31% 97%;
    --card: 198 44% 1%;
    --card-foreground: 198 31% 97%;
    --border: 198 14% 14%;
    --input: 198 14% 14%;
    --primary: 198 100% 50%;
    --primary-foreground: 198 100% 10%;
    --secondary: 198 50% 10%;
    --secondary-foreground: 198 10% 90%;
    --accent: 198 50% 10%;
    --accent-foreground: 198 10% 90%;
    --destructive: 9 81% 50%;
    --destructive-foreground: 0 0% 100%;
    --ring: 198 100% 50%;
  }
} */

/* purple-dark-v2 */
/* @layer base {
  :root {
    --background: 253 44% 98%;
    --foreground: 253 58% 0%;
    --muted: 253 7% 87%;
    --muted-foreground: 253 13% 37%;
    --popover: 253 44% 98%;
    --popover-foreground: 253 58% 0%;
    --card: 253 44% 97%;
    --card-foreground: 0 0% 0%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --primary: 253 91% 58%;
    --primary-foreground: 253 91% 98%;
    --secondary: 253 5% 89%;
    --secondary-foreground: 253 5% 29%;
    --accent: 253 12% 82%;
    --accent-foreground: 253 12% 22%;
    --destructive: 339.2 90.36% 51.18%;
    --destructive-foreground: 0 0% 100%;
    --ring: 253 91% 58%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 253 43% 3%;
    --foreground: 253 31% 98%;
    --muted: 253 7% 13%;
    --muted-foreground: 253 13% 63%;
    --popover: 253 43% 3%;
    --popover-foreground: 253 31% 98%;
    --card: 253 43% 4%;
    --card-foreground: 253 31% 99%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --primary: 253 91% 58%;
    --primary-foreground: 253 91% 98%;
    --secondary: 253 7% 9%;
    --secondary-foreground: 253 7% 69%;
    --accent: 253 13% 14%;
    --accent-foreground: 253 13% 74%;
    --destructive: 339.2 90.36% 51.18%;
    --destructive-foreground: 0 0% 100%;
    --ring: 253 91% 58%;
  }
} */

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.dotPattern {
  background-image: radial-gradient(rgb(35, 40, 68) 1px, transparent 1px);
  background-size: 25px 25px;
}

.use-automation-zoom-in {
  animation: automation-zoom-in 0.5s;
}

@keyframes automation-zoom-in {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}
